body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #87ceeb, #836FFF) !important;
}

h1 {
  text-align: center;
  color: #fff;
  margin-top: 200px;
}

form {
  background-color: rgb(0, 44, 99);
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card {
  background-color: #fff !important;
  padding: 50px;
  border-radius: 10px;
  width: 300px;
}

.card-header {
  padding-bottom: 50px;
  opacity: 0.8;
  color: #000;
}

.card-header::after {
  content: "";
  width: 70px;
  height: 1px;
  background-color: #000;
  display: block;
  margin-top: -17px;
  margin-left: -5px;
}

.card-content label {
  color: #000;
  font-size: 12px;
  opacity: 0.8;
}

.card-content-area {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.card-content-area input {
  margin-top: 10px;
  padding: 0 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  outline: none;
  color: #000;
}


label {
  color: #000;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 95%;
  border-color: #000;
  color: #fff;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: start;
}


span {
  color: #000;
}

input[type="submit"] {
  display: block;
  margin-left: 70px;
  width: 50%;
  background: #ADD8E6;
  color: #000;
  padding: 8px;
  border-color: #ADD8E6;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}

a {
  color: #000;
  text-align: center;
  text-decoration: none;
}

.forgot-password {
  text-align: center;
  margin-bottom: 17px;
  font-size: 12px;
}

.forgot-password a {
  color: #000;
  text-decoration: none;
}