body {
  font-family: Arial, sans-serif;
  background: rgb(4, 0, 50);
  background: linear-gradient(90deg, rgba(4, 0, 50, 1) 0%, rgba(35, 139, 255, 1) 90%);
}

h1 {
  text-align: center;
  margin-top: 200px;
  color: #fff;
}

p {
  color: #fff;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card {
  background: rgb(4, 0, 50);
  background: linear-gradient(90deg, rgba(4, 0, 50, 1) 0%, rgba(35, 139, 255, 1) 90%);
  padding: 50px;
  border-radius: 10px;
  width: 300px;
}

.card-header {
  padding-bottom: 50px;
  opacity: 0.8;
  color: #fff;
}

.card-header::after {
  content: "";
  width: 70px;
  height: 1px;
  background-color: #fff;
  display: block;
  margin-top: -17px;
  margin-left: -5px;
}

.card-content label {
  color: #fff;
  font-size: 12px;
  opacity: 0.8;
}

.card-content-area {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.card-content-area input {
  margin-top: 10px;
  padding: 0 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  outline: none;
  color: #fff;
}

label {
  color: #fff;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 95%;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: start;
}

span {
  color: #fff;
}

input[type="submit"] {
  display: block;
  margin-left: 70px;
  width: 50%;
  background-color: #fafafa;
  color: #000;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.forgot-password {
  margin-bottom: 10px;
  text-align: center;
  font-size: 12px;
}

.forgot-password a {
  color: #fff;
  text-decoration: none;
}

.social-login {
  margin-top: 20px;
  text-align: center;
}

.social-login img {
  width: 30px;
  margin: 0 10px;
  cursor: pointer;
}