body {
  padding: 0;
  font-size: larger;
  margin-top: 20%;
  font-style: oblique;
}

.log {
  margin-top: 5%;
  text-align: center;
}

.log h1 {
  color: #daa520;
}


.logo {
  width: 20%;
  height: 100%;
}

.bt{
  background: #daa520;
  padding: 10px 30px;
  border-radius: 30px;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}

.btd{
  background: #daa520;
  padding: 10px 30px;
  border-radius: 30px;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn {
  color: #fff;
  text-align: center;
}

a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}